@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css?family=Lato');

// Override Variables

// colors
$rose-dust-red: #9D5C65;
$dark-blue: #1A1B1D;
$white: #FFF;
$terra-cotta-orange: #E26D5C;
$navajo-white: #FFE1A8;

// fonts
$font-family-sans-serif: 'Lato', sans-serif;
$font-family-base: $font-family-sans-serif;

// elements
$body-bg: $black;
$jumbotron-padding: 0;
$button-color: #89817D;
$headings-color: $white;  
$link-color: $rose-dust-red;
$link-hover-color: $navajo-white;

//Bootstrap sass Files
@import "node_modules/bootstrap/scss/bootstrap";

.heading-custom {
  text-align: center;
  padding: 4rem;
}

.card {
  margin-bottom: 2rem;
}

.navbar {
  width: 100%;
  background-color: $dark-blue !important;

  @media(max-width:34em) {
    background: black !important;
  }
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
    font-size: 2.5em;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3em;
  }

  .nav-item {
    padding: 0 1rem;

    @media(max-wdith: 34em) {
      padding: 0;
    }

    .nav-link {
      @media(max-width: 34em) {
        font-weight: normal;
        color: $white !important;
      }
    }
  }
}

.jumbotron {
  background-color: #9D5C65 !important;
  // border-top: 3px solid rgb(219, 219, 219);
  padding: 0;
}

.jumbotron-content h1 {
  padding: 2.5rem 0 1.5rem 0;
  font-size: 3em;
  font-weight: 500;
  color: #F4F4EB;
}

.jumbotron-content p {
  font-size: 1.5em;
  line-height: 1em;
  color: #F4F4EB;
  text-align: center;
}

.jumbotron-content button {
  margin: 1em 0;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
}

.section-container {
  margin-bottom: 5rem;
}

.fa-large-icon {
  font-size: 3em;
  color: #9D5C65;
}

.card-title-how-it-works {
  color: #000;
}

.footer-copyright {
  background: #747F75;
}

.imageguy {
  background: url('../../assets/img/dude.png');
  background-size: contain;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 576px) { 
  .jumbotron-content {
    text-align: center;
  }

  .navbar .navbar-brand {
    font-size: 1.5em;
    // background: #fff;
  }

  .jumbotron-content p{
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .imageguy {
    height: 300px;
  }
 }

.heading-page {
  font-size: 3.5em;
  padding: 4rem 2rem 2rem;
  text-align: center;
}

.subheading-page {
  font-size: 2.5em;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

.heading-form {
  font-size: 2.7em;
  padding: 2rem 2rem 2rem;
  text-align: center;
}

.form-group {
  color: $white;
}

.col-form-label {
  font-size: 1.3em;
  margin-top: 0.3rem;
}

.form-icon {
  color: $white;
  font-size: 1.8em;
  margin-top: 0.3rem;
}

.sortable-number {
  display: inline;
  padding: 1.7rem;
  background: #59344b3b;
  margin-right: 1rem;
}

.list-group-item {
  padding: 1.5rem 0;
  background: $white;
  border: 0;
  margin-bottom: 1.3rem;
}

#respond-to-poll-options {
  margin-top: 2em;
  color: #000;
}

.choice-title {
  font-weight: 700;
}

.choice-desc {
  font-style: italic;
}

.table {
  color: $white;
  font-size: 1.2em;
}

#table-poll-details {
  color: $white;
  font-size: 1.2em;

  .poll-details-heading {
    font-weight: 700;
  }
}

section {
  margin-bottom: 5rem;
}

/* use @mixins */
.btn-custom {
  @include button-variant($button-color, darken($button-color, 7.5%), darken($button-color, 10%), lighten($button-color,5%), lighten($button-color, 10%), darken($button-color,30%));
}
.btn-primary {
  @include button-variant($navajo-white, darken($navajo-white, 7.5%), darken($navajo-white, 10%), lighten($navajo-white,5%), lighten($navajo-white, 10%), darken($navajo-white,30%));
}